#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.toolbar {
  padding-bottom: 50px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  grid-gap: 20px;
}

.projects__item {
  display: block;
  width: 300px;
}